<div id="left-navbar">

	<% if params[:controller] == 'users' && params[:action] == 'show' %>
		<%= render '/left_menu/user_profile' %>
	<% elsif params[:controller] == 'loops' && params[:action] == 'show' %>
		<%= render '/left_menu/loop_profile' %>
	<% elsif params[:controller] == 'loops' && params[:action] == 'index' %>
		<%= render '/left_menu/loops_index' %>
	<% elsif params[:controller] == 'events' && params[:action] == 'show' %>
		<%= render '/left_menu/event_profile' %>
	<% end %> 

</div>

<ul class="nav" id="main-nav">
        <li> 
          <div class="menu-image-container" id="menu-me">
          </div>
          <%= link_to "Me", user_path(current_user) %> 
        </li>
        <li> 
          <div class="menu-image-container" id="menu-loop">
          </div>
          <%= link_to "Loops", loops_path %> 
        </li>
        <li> 
          <div class="menu-image-container" id="menu-event">
          </div>
          <%= link_to "Events", events_path %> 
        </li>
        <li> 
          <div class="menu-image-container" id="menu-setting">
          </div>
          <a href="#"> Settings </a> 
        </li>
     </ul>