

<!-- render chat here -->

<ul class="nav" id="main-nav">
        <li> 
          <%= link_to "", user_path(current_user), class: "menu-image-container", id: "menu-me" %> 
        </li>
        <li> 
          <%= link_to "", loops_path, class: "menu-image-container", id: "menu-loop" %> 
          <!-- <%= link_to "Loops", loops_path %> -->
        </li>
        <li> 
          <%= link_to "", events_path, class: "menu-image-container", id: "menu-event" %> 
         <!--  <%= link_to "Events", events_path %> -->
        </li>
        <li> 
          <%= link_to "", '#', class: "menu-image-container", id: "menu-setting" %> 
          <!-- <a href="#"> Settings </a> -->
        </li>
     </ul>
