<% provide(:title, @user.firstName) %>


<div style="width:200px">
	<ul>
		<% @invitations.each do |i| %>
			<li> <%= link_to i.author.full_name, i.author %> has invited you to join 
				<%= link_to i.loop.name, i.loop %> 
				<br>
				<%= link_to "Join", accept_loop_membership_path(i), method: :put %>
			</li>
		<% end %>
	</ul>
	
</div>

<ul class="nav nav-tabs nav-stacked">
	<li> <%= link_to "Logout", signout_path, method: 'delete' %> </li>
</ul>
</div>

	<div class="flow event-flow" id="loop-events">
			<% @user.events.each do |event| %>
				<div> 
					<div class="flow-item event-flow-item"> 
						<%= image_tag event.avatar.url(:medium), class: "event-medium" %>
						<div class="flow-name-box">
							<%= link_to event.name, event, class: 'event-name' %>
						</div>
					</div>
				</div>
			<% end %>
	</div>