
/* $(".message-box").append("<%= escape_javascript <div class='chat-post'>
						<%= image_tag @post.last.user.avatar.url(:thumb), class: 'post-pic' %>
						<div class='post-content'> <%= @post.last.content %> </div>
					</div> %>"); */

//console.log('<%= escape_javascript @post.content %>');
console.log('logging post');


/*<% event_by_date.each do |event| %>
					<div> 
						<div class="flow-item event-flow-item"> 
							<%= image_tag event.avatar.url(:medium), class: "event-medium" %>
							<div class="flow-name-box">
								<%= link_to event.name, event, class: 'event-name' %>
							</div>
						</div>
					</div>
				<% end %>*/