<% if @events.count == 0 %>
	<div class="no-results-message">
		We're sorry. No events found.
	</div>
<% else %>
		<% organize_by_date(@events).each do |event_by_date| %>
			<div class="flow event-flow" id="loop-events">
				<%= event_by_date.count do |event| %>
					<div> 
						<div class="flow-item event-flow-item"> 
							<%= filepicker_image_tag event.filepicker_url, width: 160, height: 160, fit: 'clip' %>
							<div class="flow-name-box">
								<%= link_to event.name, event, class: 'event-name' %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
<% end %>

<div class="event-searchbox">
	<%= form_tag(search_path, method: "get") do %>
		<%= text_field_tag(:search) %>
	<% end %>
</div>
