<p id="notice"><%= notice %></p>

<div class="share-box">
	<%= render 'loop_event_shares/share_event_form' %>
	<ul class="nav nav-tabs nav-stacked">
	<% if current_user.events.include?(@event) %>
		<li> <a href="#"> Leave Event </a> </li>
	<% @is_author = EventMembership.where(user_id: current_user.id, event_id: @event.id).is_author?(current_user.id) %>
	<% else %>
		<%= link_to 'Join', join_event_path(@event), method: :post %>
	<% end %>
</ul>
</div>

<div class="info-container">
	<%= filepicker_image_tag @event.filepicker_url, width: 160, height: 160, fit: 'clip' %>
	<div class="event-show-name">
		<%= @event.name %>
	</div>
	<div class="event-description">
		<%= @event.description %>
	</div>
	<div class="event-location">
		<%= @event.location.city %>
	</div>
	<div class="event-edit-box">
		<% if @is_author %>
			<%= link_to edit_event_path(@event) %>
		<% end %>
	</div>
</div>

<div class="share-box">
	<%= render 'loop_event_shares/share_event_form' %>
</div>