<p id="notice"><%= notice %></p>

<p>
  <b>Only:</b>
  <%= @event_membership.only %>
</p>

<p>
  <b>[:</b>
  <%= @event_membership.[ %>
</p>

<p>
  <b>:</b>
  <%= @event_membership. %>
</p>

<p>
  <b>:</b>
  <%= @event_membership. %>
</p>


<%= link_to 'Edit', edit_event_membership_path(@event_membership) %> |
<%= link_to 'Back', event_memberships_path %>
