<%= form_for(@loop) do |f| %>
  <% if @loop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loop.errors.count, "error") %> prohibited this loop from being saved:</h2>

      <ul>
      <% @loop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :privacy %><br />
    <%= f.select(:privacy, [["Open", 1], ["Closed", 2]]) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions" style="position: absolute; top: 50px; right: 200px;">
    <%= f.submit %>
  </div>
<% end %>
