<p id="notice"><%= notice %></p>
	<div class="info-container">
		<div class="profile-box">
			<%= image_tag @loop.avatar.url(:thumb), class: "profile-pic" %>
			<div class="profile-info">
				<p> <%= @loop.name %> </p>
			</div>
		</div>
		<div class="chat-box">
			<div class="chat-submit-box">
				<%= form_for([@loop, @post], url: loop_posts_path(@loop)) do |f| %>
				  <% if @post.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

				      <ul>
				      <% @post.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				  <div class="field">
				    <%= f.text_field :content %>
				  </div>
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>
			</div>
			<div class="chat-posts-box">
				<ul class="no-style">
				<% @loop.posts.each do |post| %>
					<li>
						<div class="chat-post">
							<%= image_tag post.user.avatar.url(:thumb), class: "post-pic" %>
							<div class="post-content"> <%= post.content %> </div>
						</div>
					</li>
				<% end %>
				</ul>
			</div>
		</div>

		<div id="loop-users">
			<% @loop.users.each do |user| %>
				<div class="flow-item user-flow-item"> 
						<%= image_tag user.avatar.url(:thumb), class: "user-thumbnail" %>
						<%= link_to user.full_name, user, class: "user-name" %> 
					</div>
			<% end %>
		</div> 

		<div class="loop-info-box">
			<div class="loop-description">
				<%= @loop.description %>
			</div>
		</div>

	</div>
	
	<div class="flow event-flow" id="loop-events">
		<ul>
			<% @loop.events.each do |event| %>
				<li> 
					<div class="flow-item event-flow-item"> 
						<%= image_tag event.avatar.url(:medium), class: "event-medium" %>
						<div class="flow-name-box">
							<%= link_to event.name, event, class: 'event-name' %>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="loop-add-member-box">
		<%= form_for(@user, url: loop_loop_memberships_path(@loop)) do |f| %>
			<%= f.text_field :firstName, class: "name-search-field" %>
			<%= f.submit "Add Friend" %>
		<% end %>
	</div>

			<div class="menu-btn-group">
	<button class="menu-btn" id="show-info">Show Info </button>
	<button class="menu-btn" id="show-members">Show Members </button>
	<button class="menu-btn" id="chat">Chat</button>
	<button class="menu-btn">Edit Loop </button>
	<button class="menu-btn" id="add-member">Add Member</button>
	<button class="menu-btn">Leave Loop </button>
	<%= link_to 'Create Event', loop_new_event_path(@loop), class: "menu-btn" %>
</div>



