<p id="notice"><%= notice %></p>
	<div class="info-container">

		<div id="loop-users">
			<% @loop.users.each do |user| %>
				<div class="flow-item user-flow-item"> 
						<%= image_tag user.avatar.url(:thumb), class: "user-thumbnail" %>
						<%= link_to user.full_name, user, class: "user-name" %> 
					</div>
			<% end %>
		</div> 

		<div class="loop-info-box">
			<div class="loop-description">
				<%= @loop.description %>
			</div>
		</div>

	</div>
	
	<div class="flow event-flow" id="loop-events">
		<ul>
			<% @loop.events.each do |event| %>
				<li> 
					<div class="flow-item event-flow-item"> 
						<%= image_tag event.avatar.url(:medium), class: "event-medium" %>
						<div class="flow-name-box">
							<%= link_to event.name, event, class: 'event-name' %>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="loop-add-member-box">
		<%= form_for(@user, url: loop_loop_memberships_path(@loop)) do |f| %>
			<%= f.text_field :firstName, class: "name-search-field" %>
			<%= f.submit "Add Friend" %>
		<% end %>
	</div>



