<p id="notice"><%= notice %></p>
	<div class="info-container">
		<div class="profile-box">
			<%= filepicker_image_tag @loop.filepicker_url, width: 160, height: 160, fit: 'clip' %>
			<div class="profile-info">
				<p> <%= @loop.name %> </p>
			</div>
		</div>

		<div id="loop-users">
			<% @loop.users.each do |user| %>
				<div class="flow-item user-flow-item"> 
						<%= image_tag user.avatar.url(:thumb), class: "user-thumbnail" %>
						<%= link_to user.full_name, user, class: "user-name" %> 
					</div>
			<% end %>
		</div> 

		<div class="loop-info-box">
			<div class="loop-description">
				<%= @loop.description %>
			</div>

			<% if @lm.is_creator? %>
				<%= link_to "Edit Loop", edit_loop_path(@loop) %>
			<% end %>

		</div>

	</div>
	
	<div class="flow event-flow" id="loop-events">
			<% @loop.events.each do |event| %>
				<div> 
					<div class="flow-item event-flow-item"> 
						<%= image_tag event.avatar.url(:medium), class: "event-medium" %>
						<div class="flow-name-box">
							<%= link_to event.name, event, class: 'event-name' %>
						</div>
					</div>
				</div>
			<% end %>
	</div>

	<div class="loop-add-member-box">
		<%= form_for(@user, url: loop_loop_memberships_path(@loop)) do |f| %>
			<%= f.text_field :firstName, class: "name-search-field" %>
			<%= f.submit "Add Friend" %>
		<% end %>
	</div>

			<div class="menu-btn-group">
	<button class="menu-btn" id="show-info">Show Info </button>
	<button class="menu-btn" id="show-members">Show Members </button>
	<button class="menu-btn" id="chat">Chat</button>
	<button class="menu-btn">Edit Loop </button>
	<button class="menu-btn" id="add-member">Add Member</button>
	<button class="menu-btn">Leave Loop </button>
	<%= link_to 'Create Event', loop_new_event_path(@loop), class: "menu-btn" %>
</div>



