<div class="row">
  <div class="span6 offset3">
		<p id="notice"><%= notice %></p>

		<p>
		  <b>Privacy:</b>
		  <%= @loop.privacy %>
		</p>

		<p>
		  <b>Name:</b>
		  <%= @loop.name %>
		</p>

		<p>
		  <b>Description:</b>
		  <%= @loop.description %>
		</p>


		<%= link_to 'Edit', edit_loop_path(@loop) %> |
		<%= link_to 'Back', loops_path %>
	</div>
</div>
