<p id="notice"><%= notice %></p>

	
		<div class="loop-add-member-box">
			<%= form_for(@user, url: loop_loop_memberships_path(@loop)) do |f| %>
				<%= f.text_field :firstName %>
				<%= f.submit "Add Friend" %>
			<% end %>
		</div>

		<div class="loop-user-box columns-220">
			<ul class="no-style">
			<% @loop.users.each do |user| %>
				<li> <div class="user-stream-item"> 
					<%= image_tag user.avatar.url(:thumb) %>
					<!-- <%= link_to user.full_name, user %>  -->
				</div></li>
			<% end %>
			</ul>
		</div> 


	<div class="loop-event-box events-box">
		<ul class="no-style">
			<% @loop.events.each do |event| %>
				<li> <div class="stream-item"> <%= link_to event.name, event %></div> <li>
			<% end %>
		</ul>
	</div>

	<div class="loop-info-box">
		<div class="loop-description">
			<%= @loop.description %>
		</div>
	</div>

