<%= form_for([@loop, @loop_membership]) do |f| %>
  <% if @loop_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loop_membership.errors.count, "error") %> prohibited this loop_membership from being saved:</h2>

      <ul>
      <% @loop_membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :loop_id %><br />
    <%= f.text_field :loop_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :creator %><br />
    <%= f.text_field :creator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
