<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @loop_membership.user_id %>
</p>

<p>
  <b>Loop:</b>
  <%= @loop_membership.loop_id %>
</p>

<p>
  <b>Status:</b>
  <%= @loop_membership.status %>
</p>

<p>
  <b>Creator:</b>
  <%= @loop_membership.creator %>
</p>


<%= link_to 'Edit', edit_loop_membership_path(@loop_membership) %> |
<%= link_to 'Back', loop_memberships_path %>
