<div class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
			<%= link_to "Th Moov", '#', id: "logo" %>
			<% if signed_in? %>
				<nav>
					<ul class="nav pull-right">
						<li> <%= link_to "Me", user_path(current_user) %> </li>
						<li> <%= link_to "Loops", '#' %> </li>
						<li> <%= link_to "Events", '#' %> </li>
						<li class="dropup"> 
							<a class="dropdown-toggle" data-toggle="dropdown"> 
								^ </a> 
							<ul class="dropdown-menu">
								<li> <%= link_to "Account", edit_user_path(current_user) %> </li>
								<li> <%= link_to "Logout", signout_path, method: 'delete' %> </li>
							</ul>
						</li>
					</ul>
				</nav>
			<% else %>
				<div class="signin-message"> 
					Already signed up? <a class="signin-button">Sign in</a> now 
				</div>
				<ul class="nav pull-right">
						<li> <%= link_to "About", about_path %> </li>
						<li> <%= link_to "Contact", contact_path %> </li>
						<li> <%= link_to "Help", help_path %> </li>
					</ul>
				</nav>
			<% end %>
			<% if Rails.env.development? %>
				<a class="debug-button" href="#">Debug</a>
			<% end %>
	</div>
</div>