<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <scipt src="http://htmlshim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>


<div class="container-fluid black-border" id="main">
  <div id="sidebar">

  </div>
  <div class="row-fluid">
  <div id="inner-container">
  
  <div class="span12">

  </div>
  </div>
  </div>

</div>


<!--
<div class="container-fluid">
  <div class="row-fluid">
    
      <div class="span3 black-border" data-spy="affix">
        
        <!--Sidebar content
        <% if signed_in? %>
          <%= render 'layouts/left_navbar' %>
        <% end %>
   
     
    </div>

    <div class="span9 black-border">
      <% flash.each do |key, value| %>
        <div class="center alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div> -->

<%= render 'layouts/lower_navbar' %>


<%= debug(params) if Rails.env.development? %>
</body>
</html>
